@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
    margin: 30px;
}

.card {
    width: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}