.jumbotron {
    height: 300px;
    clear: both;
    padding-top: 20px;
    background-image: url(https://pfe-getold.s3.amazonaws.com/basic_article/1600x700_0002_gettyimages-587506958.jpg?2vyCbFPuJhdW0wQNIiFGAeuFG4fiXR.N);
}