.jumbotron {
    height: 300px;
    width: 100vw;
    clear: both;
    padding-top: 20px;
    background-image: url(https://pfe-getold.s3.amazonaws.com/basic_article/1600x700_0002_gettyimages-587506958.jpg?2vyCbFPuJhdW0wQNIiFGAeuFG4fiXR.N);
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover;
    background-position-x: 20%;
}

BImg {
    width: 15rem;
    height: auto;
    margin-top: -1rem !important;
    margin-left: -2.75rem;
}

.jumbotron-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    float: right;
}